<button mat-fab color="primary" aria-label="Add new Item" routerLink="/item/nou">
  <mat-icon>add</mat-icon>
</button>
<button mat-fab color="secondary" aria-label="Filters" (click)="openFilters()">
  <mat-icon>filter_list</mat-icon>
</button>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="clickDeleteItem(element.id)"><mat-icon fontIcon="delete"></mat-icon></button>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Item name </th>
    <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
  </ng-container>

  <ng-container matColumnDef="itemWeightKg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Weight (kg) </th>
    <td mat-cell *matCellDef="let element"> {{element.itemWeightKg}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator
               [pageSizeOptions]="[5, 10, 15, 20]"
               showFirstLastButtons
               aria-label="Select page of items">
</mat-paginator>
