<h2 mat-dialog-title>Filter Items</h2>
<mat-dialog-content>
  <div *ngFor="let filter of filters; let i = index" class="filter-item">
    <mat-form-field>
      <mat-label>{{ filter.filter_name }}</mat-label>
      <mat-select [(ngModel)]="filtersSelected[i].predicate">
          <mat-option *ngIf="filter.filter_type === SGRFiterType.NUMERIC" value="GREATER_THAN">Greater than</mat-option>
          <mat-option *ngIf="filter.filter_type === SGRFiterType.NUMERIC" value="LESS_THAN">Less than</mat-option>
          <mat-option *ngIf="filter.filter_type === SGRFiterType.NUMERIC" value="EQUALS">Equals</mat-option>
          <mat-option *ngIf="filter.filter_type === SGRFiterType.STRING" value="CONTAINS">Contains</mat-option>
          <mat-option *ngIf="filter.filter_type === SGRFiterType.STRING" value="IS">Is</mat-option>
          <mat-option *ngIf="filter.filter_type === SGRFiterType.STRING" value="IS_NOT">Is not</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Enter value..." [(ngModel)]="filtersSelected[i].value">
    </mat-form-field>
    <button mat-icon-button (click)="clearFilter(i)">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
    <button mat-raised-button color="secondary" (click)="onDismiss()">Close</button>
</mat-dialog-actions>
