<mat-card class="login-container">
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <mat-card-title>Login page</mat-card-title>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" name="password" type="password">
  </mat-form-field>
  <button mat-raised-button (click)="login()">Login</button>
</mat-card>
