<h1>Edit role {{role.name}}</h1>

<mat-form-field [floatLabel]="floatLabelControl">
  <mat-label>Role Name</mat-label>
  <input matInput [disabled]="true" [value]="role.name">
  <mat-hint>Read only</mat-hint>
</mat-form-field>

<mat-form-field [floatLabel]="floatLabelControl">
  <mat-label>Role ID</mat-label>
  <input matInput [disabled]="true" [value]="role.id">
  <mat-hint>Read only</mat-hint>
</mat-form-field>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let privilege of role.privileges">
    <h4 mat-line>{{privilege.name}}</h4>
  </mat-list-item>
</mat-list>
